/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
}

:root {
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #ffffff;
  --navy-blue: #2e2f42;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --light-slate: #8e8f99;
  --green: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
}

/* CONTAINER */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER SECTION */
.header-container {
  display: flex;
  justify-content: space-between;
}

.nav,
.address {
  display: flex;
  align-items: center;
}

.nav > .list {
  display: flex;
  gap: 40px;
}

.address > .list {
  display: flex;
  gap: 40px;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white);
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
  color: var(--iris);
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.accent {
  color: var(--navy-blue);
}

/* NAV ITEMS */

.item {
  color: var(--navy-blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.list-items > .link:hover,
.list-items > .link:focus {
  color: var(--ocean);
}

/* HW5 BELOW */

.navi.link {
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
  width: 100%;
}

.contact-item > .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ADDRESS */

.contact-item > .contact {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address {
  font-style: normal;
}

.contact:hover,
.contact:focus {
  color: var(--ocean);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* MAIN SECTION */
/* SECTION 1 INDEX.HTML */

.section-one {
  background-color: var(--navy-blue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  /* max-width: 1440px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.section-one-container {
  /* background-color: var(--navy-blue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.header-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.btn {
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;

  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;

  /* HW5 DATA MODAL */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
:focus {
  background-color: var(--ocean);
}

/* SECTION 2 INDEX.HTML */

.section-two {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list > .features-info {
  width: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  margin-bottom: 8px;
  width: calc((100% - 3 * 24px) / 4);
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* HOMEWORK 4 */
.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}

/* SECTION 3 INDEX.HTML */

.section-three {
  padding-bottom: 120px;
}

.header-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.service-list {
  display: flex;
  gap: 24px;
}

.service-list > .features-info {
  width: calc((100% - 3 * 16px) / 3);
}

/* SECTION 4 INDEX.HTML */
.section-four {
  background-color: var(--cloud);
  padding: 120px 0;
}

.team-header {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list > .team-item {
  width: calc((100% - 3 * 24px) / 4);
}

.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;

  /* HW4 */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.socmed-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.socmed-items {
  width: 40px;
  height: 40px;
}

.socmed-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-link:hover,
:focus {
  background-color: var(--ocean);
}

.socmed-icon {
  fill: var(--cloud);
}

.team-div {
  padding: 32px 0;
}

.team-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
}

/* SECTION 5 - CUSTOMER */

.customer-section {
  padding: 120px 0;
}

.customer-header {
  font-size: 36px;
  line-height: 1.11;
  color: var(--navy-blue);
  margin-bottom: 72px;
  text-align: center;
}

.customer-list {
  display: flex;
  gap: 24px;
}

.customer-items {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customer-icon {
  fill: currentColor;
}
/* ---------PORTFOLIO.HTML------------ */

.section-portfolio {
  padding: 96px 0 120px 0;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-text {
  font-family: inherit;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover,
.button-text:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* SERVICES SECTION OF PORTFOLIO */

.function-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.function-items {
  width: calc((100% - 48px) / 3);
}

.function-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);

  margin-bottom: 8px;
}

.function-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.function-div {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.svc {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.function-items:hover,
.function-items:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.function-img {
  position: relative;
  overflow: hidden;
}

.function-caption {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svc.link:hover .function-caption,
.svc.link:focus .function-caption {
  transform: translateY(0%);
}

/* FOOTER SECTION */

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
  /* BELOW FOOTER MARGIN */
  /* max-width: 1440px;
  margin: 0 auto; */
}

.footer-info {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-accent {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* HW4 */

.footer-container {
  display: flex;
  align-items: baseline;
  /* BELOW NOT IN CRITERIA */
  justify-content: space-between;
}

.wrap-logo {
  margin-right: 120px;
}

.socmed-text-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.socmed-list-footer {
  display: flex;
  gap: 16px;
}

.socmed-items-footer {
  width: 40px;
  height: 40px;
}

.socmed-link-footer {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-link-footer:hover,
.socmed-link-footer:focus {
  background-color: var(--green);
}

.socmed-icon-footer {
  fill: var(--cloud);
}

/* HW6 - FOOTER FORM */
.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  /* BELOW NOT IN CRITERIA */
  margin-left: 24px;
}

.footer-form-info {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
  /* BELOW NOT IN CRITERIA */
  margin-left: 24px;
}

input[placeholder="E-mail"] {
  color: var(--white);
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
}

.footer-form-icon {
  margin-left: 16px;
}

/* HW5 - MODAL WINDOW */

.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* HW6 */
  padding: 72px 24px 24px 24px;
}

.modal-window-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close:hover,
.modal-window-close:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.modal-window-icon {
  width: 8;
  height: 8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* HW6 */
.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.modal-form-container {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.modal-input-icon-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
}

.modal-input:focus,
.modal-input:hover,
.label-comment-text:hover,
.label-comment-text:focus {
  /* border-color: var(--iris); */
  outline: none;
  border: 1px solid var(--iris);
}

.input-icon {
  fill: var(--navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
  fill: var(--iris);
}

.modal-form-comment {
  margin-bottom: 16px;
}

.label-comment-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--iris);
}

.modal-form-check {
  margin-bottom: 24px;
}

.user-term {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.user-term-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  /* BELOW NOT IN CRITERIA */
  margin-right: 8px;
}

.form-check-input:checked + .user-term > .user-term-text {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.private-policy {
  color: var(--iris);
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* BELOW NOT IN CRITERIA */
  padding: 16px 32px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.heading-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}
